* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(254, 250, 152);
}

h1 {
    text-align: center;
    margin: 15px;
    font-weight: 500;
    color: rgb(71, 127, 45);   
}

nav {
    background-color: rgb(195, 254, 169);
    color: rgb(71, 127, 45);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;   
}

li {
    padding: 20px 100px;
}

li a {
    text-decoration: none;
    color: rgb(71, 127, 45);
}

.trenutna {
    background-color: rgb(71, 127, 45);
}

.trenutna > a {
    color:rgb(254, 250, 152);
}

h2 {
    text-align: center;
    color: rgb(71, 127, 45);
    margin: 50px;
    font-weight: 500;
}

table, tr, th, td {
    margin: auto; /*centriranje tabele horizontalno*/
    border: 1px solid black;
      
}

th {
    background-color: rgb(71, 127, 45);
    color: rgb(254, 250, 152);
    padding: 20px 50px;
    font-weight: 500;
}

td {
    background-color: rgb(195, 254, 169);
    text-align: center;
    padding-top: 10px;
}

tr td:first-child {
     font-size: xx-large;
}

tr td:last-child{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

img {
    width: 70px;
    height: 70px;
}

footer {
    background-color: rgb(71, 127, 45);
    width: 100%;
    position: absolute;
    bottom: 0px;
}

footer p {
    text-align: center;
    color: rgb(254, 250, 152);
    padding: 20px;
}

.muzicko {
    position: absolute;
    left: 400px;
    top: 300px;
}

.muzicko span {
    font-size: 50px;
    color: rgb(71, 127, 45);
    text-shadow: 1px 3px 5px black;
    line-height: 70px;
    letter-spacing: 10px;
}

/*prozor stilovi*/
#naslov {
    margin-top: 15px;
    text-align: center;
    color: rgb(71, 127, 45);
}

.opis {   
    text-align: center;
    margin-top: 10px;
}